<div class="app-container container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group app-form-field">
        <label for="creator" [class.app-label-disabled]="isCreatorDisabled">Creator</label>
        <input class="form-control" [class.app-label-disabled]="isCreatorDisabled" id="creator" [formControl]="creator"
          (ngModelChange)="onChangeCreator($event)">
        <app-input-template-buttons [templateData]="metadataFromTemplate.creator" [imageData]="metadataFromImage.creator"
          [isToCopyFromImage]="metadataFromTemplate.isCreatorCopiedFromImage"
          (onClickTemplateButton)="getCreatorFromTemplate()" (onClickImageButton)="getCreatorFromImage()"
          [formData]="creator.value"></app-input-template-buttons>
      </div>
      <div class="app-form-field">
        <label [class.app-label-disabled]="isLicenseDisabled">License</label>
        <select class="form-control" [class.app-label-disabled]="isLicenseDisabled" [formControl]="license"
          (ngModelChange)="onChangeLicense($event)">
          <option></option>
          <option *ngFor="let licenseName of licenseNames" [ngValue]="licenseName">{{licenseName}}</option>
        </select>
        <app-input-template-buttons [templateData]="metadataFromTemplate.license" [imageData]="metadataFromImage?.license"
        [isToCopyFromImage]="metadataFromTemplate.isLicenseCopiedFromImage"
        (onClickTemplateButton)="getLicenseFromTemplate()" (onClickImageButton)="getLicenseFromImage()"
        [formData]="license.value"></app-input-template-buttons>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group app-form-field">
        <label for="contactInfo" [class.app-label-disabled]="isContactInfoDisabled">Contact Info</label>
        <input class="form-control" [class.app-label-disabled]="isContactInfoDisabled" id="contactInfo"
          [formControl]="contactInfo" (ngModelChange)="onChangeContactInfo($event)">
        <app-input-template-buttons [templateData]="metadataFromTemplate.contactInfo" [imageData]="metadataFromImage.contactInfo"
          [isToCopyFromImage]="metadataFromTemplate.isContactInfoCopiedFromImage"
          (onClickTemplateButton)="getContactInfoFromTemplate()" (onClickImageButton)="getContactInfoFromImage()"
          [formData]="contactInfo.value"></app-input-template-buttons>
      </div>
    </div>
  </div>

  <div class="row app-form-space ">
    <div class="col-xs-6">
      <app-add-items [(keywords)]="keywords"></app-add-items>
      <app-input-template-buttons [templateData]="metadataFromTemplate.keywords" [imageData]="metadataFromImage.keywords"
      [isToCopyFromImage]="metadataFromTemplate.areKeywordsCopiedFromImage"
      (onClickTemplateButton)="getKeywordsFromTemplate()" (onClickImageButton)="getKeywordsFromImage()"
      [formData]="keywords"></app-input-template-buttons>
    </div>
  </div>

  <div class="row app-form-space">
    <div class="col-xs-6">
      <div class="app-form-field">
        <label for="subject" [class.app-label-disabled]="isSubjectDisabled">Subject</label>
        <textarea class="form-control" rows="10" id="subject" [class.app-label-disabled]="isSubjectDisabled"
          [formControl]="subject" (ngModelChange)="onChangeSubject($event)"></textarea>
        <app-input-template-buttons [templateData]="metadataFromTemplate.subject" [imageData]="metadataFromImage.subject"
          [isToCopyFromImage]="metadataFromTemplate.isSubjectCopiedFromImage"
          (onClickTemplateButton)="getSubjectFromTemplate()" (onClickImageButton)="getSubjectFromImage()"
          [formData]="subject.value">
          </app-input-template-buttons>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="app-form-field">
        <label for="description" [class.app-label-disabled]="isDescriptionDisabled">Description</label>
        <textarea class="form-control" rows="10" id="subject" [class.app-label-disabled]="isDescriptionDisabled"
          [formControl]="description" (ngModelChange)="onChangeDescription($event)" id="description"></textarea>
        <app-input-template-buttons [templateData]="metadataFromTemplate.description" [imageData]="metadataFromImage.description"
          [isToCopyFromImage]="metadataFromTemplate.isDescriptionCopiedFromImage"
          (onClickTemplateButton)="getDescriptionFromTemplate()" (onClickImageButton)="getDescriptionFromImage()"
          [formData]="description.value"></app-input-template-buttons>
      </div>
    </div> 
  </div>
</div>