<div class="app-container container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group app-form-field">
        <label for="creator" [class.app-label-disabled]="isCreatorDisabled">Creator</label>
        <input class="form-control" [class.app-label-disabled]="isCreatorDisabled" id="creator" [formControl]="creator"
          (ngModelChange)="onChangeCreator($event)">
      </div>
      <div class="app-form-field">
        <label [class.app-label-disabled]="isLicenseDisabled">License</label>
        <select class="form-control" [class.app-label-disabled]="isLicenseDisabled" [formControl]="license"
          (ngModelChange)="onChangeLicense($event)">
          <option>CC-by</option>
          <option>CC-by-sa</option>
          <option>CC-by-nd</option>
          <option>CC-by-nc</option>
          <option>CC-by-nc-sa</option>
        </select>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group app-form-field">
        <label for="contactInfo" [class.app-label-disabled]="isContactInfoDisabled">Contact Info</label>
        <input class="form-control" [class.app-label-disabled]="isContactInfoDisabled" id="contactInfo"
          [formControl]="contactInfo" (ngModelChange)="onChangeContactInfo($event)">
      </div>
    </div>
  </div>

  <div class="row app-form-space ">
    <div class="col-xs-6">
      <app-add-items></app-add-items>
    </div>
  </div>
  
  <div class="row app-form-space">
    <div class="col-xs-6">
      <div class="app-form-field">
        <label for="subject" [class.app-label-disabled]="isSubjectDisabled">Subject</label>
        <textarea class="form-control" rows="10" id="subject" [class.app-label-disabled]="isSubjectDisabled"
          [formControl]="subject" (ngModelChange)="onChangeSubject($event)"></textarea>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="app-form-field">
        <label for="description" [class.app-label-disabled]="isDescriptionDisabled">Description</label>
        <textarea class="form-control" rows="10" id="contactInfo" [class.app-label-disabled]="isDescriptionDisabled"
          [formControl]="description" (ngModelChange)="onChangeDescription($event)" id="description"></textarea>
      </div>
    </div>
  </div>
</div>