.container{
    padding-bottom: 10px;
}

.table-header-copy{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}
.table-header-copy__title{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

.color-key{
    color: #4863A0;
}

.color-key-green{
    color: green;
}
@media only screen and (min-height:800px){
    .table-container{
        overflow-y:scroll;
        height: 65vh;
    }
}