<div class="app-container container">
  <div class="table-container">
    <table class="table table-striped">
      <tr>
        <th>
          <div class="table-header-copy">
            <input type="checkbox"  
            [formControl]="selectAllControl"
            (ngModelChange)="onChangeSelectAll($event)"/>
            <span class="table-header-copy__title">Copy</span>
          </div> 
        </th>
        <th>Key</th>
        <th>Value</th>
      </tr>
      <tbody>
        <tr *ngFor="let metadata of imageMetadata | keyvalue">
          <td><input type="checkbox" [formControl]="metadataControls.get(metadata.key)"  (ngModelChange)="onChangeSelection($event,metadata.key)"></td>
          <td>{{metadata.key}}</td>
          <td>{{metadata.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-input-template-buttons [templateData]="templateMetadataKeys" [imageData]=""
  (onClickTemplateButton)="getTemplateSetting()" buttonTitleImageMetadata="Use from Image"
  buttonTitleTemplateMetadata="Use from Template"
  [formData]="selectedKeys"></app-input-template-buttons>
</div>