.app-container{
    padding-bottom: 10px;
}
.template-container{
    width: 300px;
}
.table-header-copy{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}
.table-header-copy__title{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}
@media only screen and (min-height:800px){
    .table-container{
        overflow-y:scroll;
        height: 55vh;
    }
}