<div class="app-container container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group app-form-field">
                <label for="creator" [class.app-label-disabled]="">Creator</label>
                <input class="form-control" [class.app-label-disabled]="isCreatorCopiedFromImage" id="creator"
                    [attr.disabled]="isCreatorCopiedFromImage?'':null" [formControl]="creator">
                <mat-checkbox [(ngModel)]="isCreatorCopiedFromImage">Copy from Image
                </mat-checkbox>
                <app-edit-all-metadata-input-template-buttons [templateData]="templateData.creator"  [buttonTitleTemplateMetadata]="templateData.creator"
                (onClickTemplateButton)="setCreatorFromTemplate()" [isTemplateDataWithFormDataEqual]=" (isCreatorCopiedFromImage === true && isCreatorCopiedFromImage===templateData.isCreatorCopiedFromImage) || (creator.value===templateData.creator && isCreatorCopiedFromImage==false)">
                </app-edit-all-metadata-input-template-buttons>
            </div>
            <div class="app-form-field">
                <label [class.app-label-disabled]="">License</label>
                <select class="form-control" [class.app-label-disabled]="isLicenseCopiedFromImage"
                    [attr.disabled]="isLicenseCopiedFromImage?'':null" [formControl]="license">
                    <option></option>
                    <option *ngFor="let licenseName of licenseNames" [ngValue]="licenseName">{{licenseName}}</option>
                </select>
                <mat-checkbox [(ngModel)]="isLicenseCopiedFromImage">Copy from Image
                </mat-checkbox>
                <app-edit-all-metadata-input-template-buttons [templateData]="templateData.license"  [buttonTitleTemplateMetadata]="templateData.license"
                (onClickTemplateButton)="setLicenseFromTemplate()" [isTemplateDataWithFormDataEqual]=" (isLicenseCopiedFromImage === true && isLicenseCopiedFromImage===templateData.isLicenseCopiedFromImage) || (license.value===templateData.license && isLicenseCopiedFromImage==false)">
                </app-edit-all-metadata-input-template-buttons>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group app-form-field">
                <label for="contactInfo" [class.app-label-disabled]="">Contact Info</label>
                <input class="form-control" [class.app-label-disabled]="isContactInfoCopiedFromImage" id="contactInfo"
                    [formControl]="contactInfo" [attr.disabled]="isContactInfoCopiedFromImage?'':null">
                <mat-checkbox [(ngModel)]="isContactInfoCopiedFromImage">Copy from Image
                </mat-checkbox>
                <app-edit-all-metadata-input-template-buttons [templateData]="templateData.contactInfo"  [buttonTitleTemplateMetadata]="templateData.contactInfo"
                (onClickTemplateButton)="setContactInfoFromTemplate()" 
                [isTemplateDataWithFormDataEqual]=" (isContactInfoCopiedFromImage === true && isContactInfoCopiedFromImage===templateData.isContactInfoCopiedFromImage) || (contactInfo.value===templateData.contactInfo && isContactInfoCopiedFromImage==false)">
                </app-edit-all-metadata-input-template-buttons>
            </div>
        </div>
    </div>

    <div class="row app-form-space ">
        <div class="col-xs-6">
            <app-add-items [(keywords)]="keywords" ></app-add-items>
            <mat-checkbox class="app-form-field__row-element" [(ngModel)]="areKeywordsCopiedFromImage">Copy from Image
            </mat-checkbox>
            <mat-radio-group [(ngModel)]="areKeywordsToDeleteFromImage" 
            (ngModelChange)="onChangeAreKeywordsToDeleteFromImage($event)" [disabled]="!areKeywordsCopiedFromImage">
               <mat-radio-button class="app-form-field__row-element" [value]="false">Add keywords</mat-radio-button>
               <mat-radio-button [value]="true">Delete keywords
               </mat-radio-button>
           </mat-radio-group>
            <app-edit-all-metadata-input-template-buttons [templateData]="templateData.keywords"  [buttonTitleTemplateMetadata]="templateData.keywords"
            (onClickTemplateButton)="setKeywordsFromTemplate()" 
            [isTemplateDataWithFormDataEqual]=" (areKeywordsCopiedFromImage === true && areKeywordsCopiedFromImage===templateData.areKeywordsCopiedFromImage) || (areArraysEqual(keywords,templateData.keywords) && areKeywordsCopiedFromImage==false)">
            </app-edit-all-metadata-input-template-buttons>
        </div>
    </div>

    <div class="row app-form-space">
        <div class="col-xs-6">
            <div class="app-form-field">
                <label for="subject" [class.app-label-disabled]="">Subject</label>
                <textarea class="form-control" rows="10" id="subject"
                    [class.app-label-disabled]="isSubjectCopiedFromImage" [formControl]="subject"
                    [attr.disabled]="isSubjectCopiedFromImage?'':null"></textarea>
                <mat-checkbox [(ngModel)]="isSubjectCopiedFromImage">Copy from Image
                </mat-checkbox>
                <app-edit-all-metadata-input-template-buttons [templateData]="templateData.subject"  [buttonTitleTemplateMetadata]="templateData.subject"
                (onClickTemplateButton)="setSubjectFromTemplate()" 
                [isTemplateDataWithFormDataEqual]=" (isSubjectCopiedFromImage === true && isSubjectCopiedFromImage===templateData.isSubjectCopiedFromImage) || (subject.value===templateData.subject && isSubjectCopiedFromImage==false)">
                </app-edit-all-metadata-input-template-buttons>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="app-form-field">
                <label for="description" [class.app-label-disabled]="">Description</label>
                <textarea class="form-control" rows="10" id="subject"
                    [class.app-label-disabled]="isDescriptionCopiedFromImage" [formControl]="description"
                    [attr.disabled]="isDescriptionCopiedFromImage?'':null" id="description"></textarea>
                <mat-checkbox [(ngModel)]="isDescriptionCopiedFromImage">Copy from Image
                </mat-checkbox>
                <app-edit-all-metadata-input-template-buttons [templateData]="templateData.description"  [buttonTitleTemplateMetadata]="templateData.description"
                (onClickTemplateButton)="setDescriptionFromTemplate()" 
                [isTemplateDataWithFormDataEqual]=" (isDescriptionCopiedFromImage === true && isDescriptionCopiedFromImage===templateData.isDescriptionCopiedFromImage) || (description.value===templateData.description && isDescriptionCopiedFromImage==false)">
                </app-edit-all-metadata-input-template-buttons>
            </div>
        </div>
    </div>
</div>