<div class="app-container container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group app-form-field">
                <label for="creator" [class.app-label-disabled]="">Creator</label>
                <input class="form-control" [class.app-label-disabled]="isCreatorCopiedFromImage" id="creator"
                    [attr.disabled]="isCreatorCopiedFromImage?'':null" [formControl]="creator">
                    <app-input-template-buttons [templateData]="templateData.creator"
                    [isDisabled]="isCreatorCopiedFromImage"
                    [buttonTitleTemplateMetadata]="templateData.creator" (onClickTemplateButton)="setCreatorFromTemplate()"
                    [formData]="creator.value">
                </app-input-template-buttons>
                <mat-checkbox [(ngModel)]="isCreatorCopiedFromImage">Copy from Image
                </mat-checkbox>
            </div>
            <div class="app-form-field">
                <label [class.app-label-disabled]="">License</label>
                <select class="form-control" [class.app-label-disabled]="isLicenseCopiedFromImage"
                    [attr.disabled]="isLicenseCopiedFromImage?'':null" [formControl]="license">
                    <option></option>
                    <option *ngFor="let licenseName of licenseNames" [ngValue]="licenseName">{{licenseName}}</option>
                </select>
                <app-input-template-buttons [templateData]="templateData.license"
                [isDisabled]="isLicenseCopiedFromImage"
                [buttonTitleTemplateMetadata]="templateData.license" (onClickTemplateButton)="setLicenseFromTemplate()"
                [formData]="license.value">
            </app-input-template-buttons>
                <mat-checkbox [(ngModel)]="isLicenseCopiedFromImage">Copy from Image
                </mat-checkbox>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group app-form-field">
                <label for="contactInfo" [class.app-label-disabled]="">Contact Info</label>
                <input class="form-control" [class.app-label-disabled]="isContactInfoCopiedFromImage" id="contactInfo"
                    [formControl]="contactInfo" [attr.disabled]="isContactInfoCopiedFromImage?'':null">
                    <app-input-template-buttons [templateData]="templateData.contactInfo"
                    [isDisabled]="isContactInfoCopiedFromImage"
                    [buttonTitleTemplateMetadata]="templateData.contactInfo" (onClickTemplateButton)="setContactInfoFromTemplate()"
                    [formData]="contactInfo.value">
                </app-input-template-buttons>
                <mat-checkbox [(ngModel)]="isContactInfoCopiedFromImage">Copy from Image
                </mat-checkbox>
            </div>
        </div>
    </div>

    <div class="row app-form-space ">
        <div class="col-xs-6">
            <app-add-items [(keywords)]="keywords" [areKeywordsDisabled]="areKeywordsCopiedFromImage"></app-add-items>
            <app-input-template-buttons [templateData]="templateData.keywords"
            [isDisabled]="areKeywordsCopiedFromImage"
            [buttonTitleTemplateMetadata]="templateData.keywords" (onClickTemplateButton)="setKeywordsFromTemplate()"
            [formData]="keywords">
        </app-input-template-buttons>
            <mat-checkbox [(ngModel)]="areKeywordsCopiedFromImage">Copy from Image
            </mat-checkbox>
        </div>
    </div>

    <div class="row app-form-space">
        <div class="col-xs-6">
            <div class="app-form-field">
                <label for="subject" [class.app-label-disabled]="">Subject</label>
                <textarea class="form-control" rows="10" id="subject"
                    [class.app-label-disabled]="isSubjectCopiedFromImage" [formControl]="subject"
                    [attr.disabled]="isSubjectCopiedFromImage?'':null"></textarea>
                    <app-input-template-buttons [templateData]="templateData.subject"
                    [isDisabled]="isSubjectCopiedFromImage"
                    [buttonTitleTemplateMetadata]="templateData.subject" (onClickTemplateButton)="setSubjectFromTemplate()"
                    [formData]="subject.value">
                </app-input-template-buttons>
                <mat-checkbox [(ngModel)]="isSubjectCopiedFromImage">Copy from Image
                </mat-checkbox>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="app-form-field">
                <label for="description" [class.app-label-disabled]="">Description</label>
                <textarea class="form-control" rows="10" id="subject"
                    [class.app-label-disabled]="isDescriptionCopiedFromImage" [formControl]="description"
                    [attr.disabled]="isDescriptionCopiedFromImage?'':null" id="description"></textarea>
                    <app-input-template-buttons [templateData]="templateData.description"
                    [isDisabled]="isDescriptionCopiedFromImage"
                    [buttonTitleTemplateMetadata]="templateData.description" (onClickTemplateButton)="setDescriptionFromTemplate()"
                    [formData]="description.value">
                </app-input-template-buttons>
                <mat-checkbox [(ngModel)]="isDescriptionCopiedFromImage">Copy from Image
                </mat-checkbox>
            </div>
        </div>
    </div>
</div>