<div id='window'>
    <table>
        <tr>
            <td>
                <div id='buttons'>
                    <button type='button' class='btn' id='refresh' (click)=refreshImageList(null)> Refresh Image list</button>
                    <div id='nav'>
                        <button type='button' class='btn' id='previous' (click)=previousImage()> < </button>
                        <button type='button' class='btn' id='next' (click)=nextImage()> > </button>
                    </div>
                </div>
            </td>
            <td>
                <div id='imageCell'>
                    <div id='image_place'>
                        <img id='image' class="img-responsive" src={{imgPath}} (click)="displayMetadataModal()" (onMouseOverImage)="null" [contextMenuElements]="_contextMenuElements">
                        <button type='button' class='btn' id='deleteFile' (click)=deleteImage()> Delete File </button>
                        <div id='image_name'> {{imageName}} </div>

                    </div>
                </div>
            </td>
            <td id='deleteMetadataColumn'>
                <button type='button' class='btn' id='deleteMetadataButton' (click)=deleteMetadata()>delete Metadata</button>

            </td>
        </tr>
        <tr>
            <td>
                <div id='dragAndDrop_outer' class='img-thumbnail'>
                    <div id='dragAndDrop' class='img-thumbnail'>
                        <span id='dragAndDrop_text' (returnDropedImage)=addDroppedImage($event)>
                                Drag and Drop an image
                            </span>
                    </div>
                </div>
            </td>
            <td>

            </td>
            <td class='startEditingColumn'>
                <button type='button' class='btn' id='startEditingButton' (click)=startEditing()> start editing </button>
            </td>
        </tr>
    </table>
</div>
<showMetadata [(display)]="_displayMetadataModal"></showMetadata>
<context-menu-holder></context-menu-holder>