<div class="app-container container">
    <div style="display: flex;">
        <div class="table-container app-form-field__row-element">
            <table class="table table-striped">
                <tbody>
                    <tr *ngFor="let key of metadataKeys">
                        <td class="app-capitalize">{{key}}</td>
                        <td>{{metadata[key]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="align-self: flex-end;">
            <button class="btn btn-primary" (click)="onClickSave()">Save</button>
        </div>
    </div>

</div> 