#abort_Button {
  position: absolute;
  right: 1%;
  bottom: 10%;
}

#tab-row {
  position: relative;
}

#image_place_Thumbnail {
  width: 7%;
  height: 130%;
  position: absolute;
  bottom: 10%;
  right: 12%
}

#image_Thumbnail {
  /* width: 100%;*/
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  image-orientation: from-image;
}


