<div id='tab-row'>
  <tabset>
    <tab *ngFor="let tabz of tabs" [heading]="tabz.title" [disabled]="tabz.disabled" [active]="tabz.active" (select)="selectTab($event.heading)">
    </tab>
  </tabset>
  <div id='image_place_Thumbnail' *ngIf="imgPath!=null && selectedTabName!=='File'">
    <img id='image_Thumbnail' src={{imgPath}}>
  </div>
  <button id="abort_Button" class="btn" (click)="click_Abort()" *ngIf="selectedTabName!=='File'"> Abort </button>
</div>

<FileTab *ngIf="selectedTabName==='File'" (start)="startEditing()"></FileTab>


