/*img*/
img {
  image-orientation: from-image;
}
/* Tooltip */

.tooltip.top .tooltip-arrow {
  border-top-color: #009688;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #009688;
}
.tooltip-inner {
  background-color: #009688;
}
/*paddings*/
.app-container{
    padding: 40px;
}
.app-form-field{
  margin-bottom: 20px;
}
.app-form-space{
  margin-bottom: 20px;
  margin-top: 20px;
}
.app-form-field__row-element{
  margin-right: 20px;
}
.app-form-field__width{
  width: 300px;
}

.app-label-disabled{
  color: #ddd;
}

.app-font-awesome__form-button{
font-size: 20px;
}


/*button*/
.deleteMetadataButton{
  background-color: deepskyblue!important;
}

.app-capitalize {
  text-transform: capitalize;
}

