<div class="row" style="height: 100%;">
    <div class="col-sm-6 app-container">

        <div class="form-group app-form-field">
            <label for="inputLatitude">Latitude</label>
            <input type="number" class="form-control" id="inputLatitude" [formControl]="latitudeControl" (ngModelChange)="onChangeLatitude($event)">
        </div>
        <div class="form-group app-form-field">
            <label for="inputLongitude">Longitude</label>
            <input type="number" class="form-control" id="inputLongitude" [formControl]="longitudeControl" (ngModelChange)="onChangeLongitude($event)">
        </div>
    </div>
    <div class="col-sm-6" style="height: 100%; display:flex; flex-direction:column">
        <button type="button" class="btn btn-primary" (click)="toogleLayerView()">{{buttonShowOSMLayerTitle}}</button>
        <div style="flex: 1; position: relative;">
            <app-map [areLayersRequested]="areLayersRequested" [latLongZoom]="latLongZoom"
                [(markerLatLong)]="markerLatLong">
            </app-map>
        </div>
    </div>
</div>