<div class="row" style="height: 100%;">
    <div class="col-sm-6 app-container" style="height: 100%; display:flex; flex-direction:column">

        <div class="form-group app-form-field">
            <label for="inputLatitude" [class.app-label-disabled]="isLocationDisabled">Latitude</label>
            <input type="number" class="form-control" [class.app-label-disabled]="isLocationDisabled" id="inputLatitude"
                [formControl]="latitudeControl" (ngModelChange)="onChangeLatitude($event)">
        </div>
        <div class="form-group app-form-field">
            <label for="inputLongitude" [class.app-label-disabled]="isLocationDisabled">Longitude</label>
            <input type="number" class="form-control" id="inputLongitude" [class.app-label-disabled]="isLocationDisabled"
                [formControl]="longitudeControl" (ngModelChange)="onChangeLongitude($event)">
        </div>
        <app-input-template-buttons [templateData]="coordinatesToString(metadataFromTemplate?.latitude,metadataFromTemplate?.longitude)" [imageData]="coordinatesToString(metadataFromImage?.latitude,metadataFromImage?.longitude)"
        [isToCopyFromImage]="metadataFromTemplate.isLocationCopiedFromImage"
        (onClickTemplateButton)="getLocationFromTemplate()" (onClickImageButton)="getLocationFromImage()"
        [formData]="coordinatesToString(latitudeControl.value,longitudeControl.value)"></app-input-template-buttons>
        <button type="button" class="btn btn-primary app-form-field"
            (click)="toogleEnableDisableLocation()">{{buttonToggleEnableDisableLocation}}</button>
        <div class="app-form-space" style="display:flex;flex-direction: column;">
            <div class="app-form-space"
                style="display:flex; align-items: center; justify-content: center">
                <input type="text" placeholder="Datepicker" class="form-control app-form-field__row-element" bsDatepicker
                    [bsConfig]="{ dateInputFormat: 'YYYY:MM:DD' }" [class.app-label-disabled]="isTimeDisabled" [formControl]="dateImageCreated" (ngModelChange)="onChangeDate($event)">
                <timepicker  [showSeconds]="true" [showMeridian]="false" [class.app-label-disabled]="isTimeDisabled" [formControl]="timeImageCreated" (ngModelChange)="onChangeTime($event)"></timepicker>
            </div>
            <app-input-template-buttons [templateData]="dateFromTemplate" [imageData]="dateFromImage"
            [isToCopyFromImage]="metadataFromTemplate.isTimeCopiedFromImage"
            (onClickTemplateButton)="getTimeFromTemplate()" (onClickImageButton)="getTimeFromImage()"
            [formData]="editedDateAndTime"></app-input-template-buttons>
            <button type="button" class="btn btn-primary app-form-field"
                (click)="toogleEnableDisableTime()">{{buttonToggleEnableDisableTime}}</button>
        </div> 


    </div>
    <div class="col-sm-6" style="height: 100%; display:flex; flex-direction:column">
        <button type="button" class="btn btn-primary" [disabled]="isLocationDisabled"
            (click)="toogleLayerView()">{{buttonShowOSMLayerTitle}}</button>
        <div style="flex: 1; position: relative;">
            <app-map [areLayersRequested]="areLayersRequested" [disabled]="isLocationDisabled"
                [latLongZoom]="latLongZoom" [(markerLatLong)]="markerLatLong">
            </app-map>
        </div>
    </div>
</div>