<div id="view">
    <div id="metadata_box">
        <div class="table-responsive">
            <table id="table" #table class="table table-striped">
                <tbody>
                    <tr *ngFor="let key of metadata_keys">
                        <td>{{key}}</td>
                        <td>{{metadata[key]}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
    <div id="hoverbox">
        <ul class="hoverbox">
            <li *ngFor="let imgName of (_imageNames_edited$|async)">
                <a>
                    <img src="{{imgDir_edited}}/{{imgName}}" alt="description"
                        [class.deleteMetadataButton]="suffix.isMetadataDeleted(imgName)" />
                    <img src="{{imgDir_edited}}/{{imgName}}" (onMouseOverImage)="onMouseOverImage($event)"
                        alt="description" class="preview" [contextMenuElements]="_contextMenuElements"
                        [class.clicked]="imageClicked(imgName)"
                        [class.deleteMetadataButton]="suffix.isMetadataDeleted(imgName)" />
                </a>
            </li>

        </ul>
    </div>

</div>
<context-menu-holder></context-menu-holder>