h1 {
    font-weight: bold;
    margin-left: 1%;
    color: #4863A0;
    margin-bottom: 18px;
}
.page-header{
    display:flex;
    padding-bottom: 7px;
}

#mainIcon{
    font-size: 1.3em;
    align-self: center;
    margin-left: 1.5%;
    margin-bottom: 20px;
    color: #FFDB58;
    flex:1;
}
#changeView_Button{
    align-self: flex-end;
    margin-right: 1%;
}
#lang_dropdown{
    position:absolute;
    top:10px;
    right:20px;
}
.dropdown-menu{
    min-width:0;
    padding:0px;
}
.dropdown-menu > li > a {
text-align: center;
padding:0 4px;
}
#lang_button{
    padding:0px 6px;
    background-color: white;
}
button{
background-color: #eee;
}
button:hover {
  background-color: #cfd8dc;
}