<div id='window'>
    <!--<table>
        <tr>
            <td > 
                <div  id='buttons' >
                    <button type='button' id='refresh' (click)=refresh()> Refresh Image list</button>
                    <div id='nav'>
                        <button type='button' id='previous' (click)=previousImage()> < </button>
                        <button type='button' id='next' (click)=nextImage()> > </button>
                    </div>
                </div>
            </td>
            <td > 
                <div id='imageCell'>
                    <div  id='image_place' >
                        <img  id='image' src={{imgPath}} (click)="displayMetadataModal()" (ime_onMouseOverImage)="null" [contextMenuElements]="_contextMenuElements">
                        <button type='button' id='deleteFile' (click)=deleteImage()> Delete File </button>   
                        <div id='image_name'> {{imageName}} </div> 

                    </div>
                </div>
            </td>
            <td id='deleteMetadataColumn'>
                <button type='button' id='deleteMetadataButton' (click)=deleteMetadata()>delete Metadata</button>

            </td>
        </tr>
        <tr >
            <td>
                 <div id='dragAndDrop_outer' class='thumbnail'>
                        <div id='dragAndDrop' class='thumbnail' >
                            <span id='dragAndDrop_text' (ee_getDropedImage)=getDropedImage($event)>
                                Drag and Drop an image
                            </span> 
                        </div>
                    </div>
            </td>
            <td>          

            </td>
            <td class='startEditingColumn'>
                <button type='button' id='startEditingButton' (click)=startEditing()> start editing </button>          
            </td>
        </tr>
    </table> -->
</div>
<!--<showMetadata [imageName]="imageName" [display]="_displayMetadataModal" [display_start]=false></showMetadata>
<context-menu-holder></context-menu-holder>-->