<div class="">
    <div class="">
        <label>Keyword</label>
        <div style="display:flex; align-items:center">
            <input class="form-control app-form-field__row-element" [class.app-label-disabled]="areKeywordsDisabled"
                [attr.disabled]="areKeywordsDisabled?'':null" [formControl]="newKeyword">
            <button type="button" class="btn btn-primary" [disabled]="areKeywordsDisabled" (click)="addNewKeyword()">Add</button>
        </div>
    </div>
    <div>
        <button type="button" class="btn keyword" *ngFor="let keyword of keywords; index as i"
            (click)="deleteKeyword(i)" [disabled]="areKeywordsDisabled">{{keyword}}<i class="fas fa-times keyword__icon-delete"></i></button>
    </div>

</div>