<div id='page-header'>
  <div id="title">
    <h1> Image Metadata Editor </h1>
    <span class="glyphicon glyphicon-edit" id="mainIcon" aria-hidden="true"></span></div>

  <button id="changeView_Button" class="btn" (click)="changeView()"> {{_changeView_button_text}}</button>

  <div id="lang_dropdown" dropdown>
    <button id="lang_button" class="btn" dropdownToggle>
        {{_lang}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="language-dropdown">
      <li *ngFor="let lang of _languages">
        <a class="dropdown-item" (click)="select_lang($event)">{{lang}}</a>
      </li>
    </ul>
  </div>
</div>

<router-outlet id="content"></router-outlet>
<bottom-bar *ngIf="_editorService.fileTabOpen">
  <div id="copyAllDiv"> <button id="copyAll" class="btn">Copy all</button></div>
  <div id="hoverbox">
    <ul class="hoverbox">
      <li *ngFor="let imgName of _imageNames_original">
        <!-- *ngIf: To add and remove the onMouseOverImage directive and the contextMenu -->
        <a *ngIf="isInEditingModus(imgName)">
          <img src="{{_imageService.imageDir_original}}/{{imgName}}" alt="description" [class.editing]="isInEditingModus(imgName)"
         (contextmenu)="$event.preventDefault();"/>
          <img src="{{_imageService.imageDir_original}}/{{imgName}}" class="preview" [class.editing]="isInEditingModus(imgName)"
          (contextmenu)="$event.preventDefault();"
            />
        </a>
        <a *ngIf="!isInEditingModus(imgName)">
          <img src="{{_imageService.imageDir_original}}/{{imgName}}" alt="description" [class.editing]="isInEditingModus(imgName)"
            (onMouseOverImage)="onMouseOverImage($event)" [contextMenuElements]="_contextMenuElements" />
          <img src="{{_imageService.imageDir_original}}/{{imgName}}" class="preview" [class.editing]="isInEditingModus(imgName)" (onMouseOverImage)="onMouseOverImage($event)"
            [contextMenuElements]="_contextMenuElements" />
        </a>
      </li>

    </ul>
  </div>
</bottom-bar>
