<div style="flex: 20;display:flex; flex-direction: column ">

  <!-- header -->
  <div style="flex:4;display:flex; justify-content:space-between;flex-wrap: wrap">
    <!--title -->
    <div style="align-self: center;display:inline-flex">
      <h1> Image Metadata Editor </h1>
      <span id="titleIcon" class="glyphicon glyphicon-edit"style="margin:1em 1em"></span>
    </div>

    <!-- buttons right -->
    <div style="display:flex; flex-direction: column; justify-content: space-between; padding:5px">
      <!-- menu buttons -->
      <div style="display:flex; justify-content: space-between; margin:5px">
        <button class="btn bgwhite" (click)="onClickRefreshButton()"><span class="glyphicon glyphicon-refresh"  ></span></button>
       
        <div dropdown style="position:relative">
          <button class="btn bgwhite" dropdownToggle>{{_lang}} <span class="caret" ></span> </button>
          <ul class="dropdown-menu ime-dropdown-menu">
            <li *ngFor="let lang of _languages">
              <a class="dropdown-item" (click)="select_lang($event)">{{lang}}</a>
            </li>
          </ul>
        </div>
       
      </div>

      <button class="btn" (click)="changeView()" style="margin:5px"> {{_changeView_button_text}}</button>
    </div>
  </div>
  <div style="flex: 15; position: relative;">
    <router-outlet></router-outlet>
  </div>

</div>
<bottom-bar-original-img *ngIf="_fileTabOpen" style="flex: 1;"></bottom-bar-original-img>
<bottom-bar-complete-img *ngIf="router.url === '/image_gallery'" style="flex: 1;"></bottom-bar-complete-img>
