h1 {
  font-weight: bold;
  margin-left: 1%;
  color: #4863A0;
  margin-bottom: 18px;
  float: left;
}

#page-header {
  padding-top: 1.5em;
  display: flex;
  padding-bottom: 1em;
}

#title {
  flex: 1;
}

#mainIcon {
  font-size: 1.3em;
  margin-left: 1.5%;
  margin-bottom: 20px;
  margin-top: 1em;
  color: #FFDB58;
}

#changeView_Button {
  align-self: flex-end;
  margin-right: 1%;
}

#lang_dropdown {
  position: absolute;
  top: 10px;
  right: 20px;
}

.dropdown-menu {
  min-width: 0;
  padding: 0px;
}

.dropdown-menu>li>a {
  text-align: center;
  padding: 0 4px;
}

#lang_button {
  padding: 0px 6px;
  background-color: white;
}

button {
  background-color: #eee;
}

button:hover {
  background-color: #cfd8dc;
}

.hoverbox img.editing {
  background: yellow;
}

.hoverbox li {
  min-height: 7em;
  background-color: blueviolet!important;
}

#hoverbox ul {
  overflow-y: auto;
  height: 85vh;
}

.menuItems {
  margin-top: 1em;
  margin-right: 1em;
}

#menu {
  display: flex;
  justify-content: flex-end;
}

#hoverboxImagesEdited {
  display: inline-grid;
  background-color: blueviolet;
}

#hoverbox {
  margin-top: 1em;
}

#refresh-icon {
  font-size: small;
}

#refresh-button {
  min-height: 1em;
  height: 2.1em;
  display: -ms-inline-grid;
  position: absolute;
  top: 0.5em;
  background-color: white;
  right: 5em;
}
