<div id='window' style=" display: flex;flex-wrap: wrap;padding-top:2%">

  <div style="flex:2; display:flex; flex-direction: column;">
    <div style="flex:1; display:flex; flex-direction:column; align-items: flex-start">
      <div type='button' class='btn' (click)=setCurrentImage(null) [imeTooltip]="'Back to first image'" tooltipPlacement="right">
        <i class="fas fa-fast-backward"></i>
      </div>
      <div type='button' class="btn" (click)="deleteAllCopies()" [imeTooltip]="'Delete all copies'" tooltipPlacement="right">
        <i class="fas fa-trash-alt"></i>
        <i class="fas fa-copy"></i>
      </div>
    </div>

    <div class='img-thumbnail' style="flex:1;width:100%;height:40%;min-height: 80px; margin-bottom: 5%;">
      <div class='img-thumbnail' style="width:100%;height:100%; display:flex; align-items:center; justify-content: center">
        <div (returnDropedImage)=addDroppedImage($event)> Drag and Drop an image</div>
      </div>
    </div>
  </div>


  <div id='image-place' style="flex:5;display:flex;justify-content: center; align-items: center">
    <div style="flex:1; display:flex;align-items: center;justify-content:center;">
      <div type='button' class='btn' style="margin-right: 2%" (click)=previousImage() [imeTooltip]="'Previous image'">
        <i class="fas fa-angle-left fa-3x"></i>
      </div>
      <div type='button' class='btn' (click)=nextImage() [imeTooltip]="'Next image'">
        <i class="fas fa-angle-right fa-3x"></i>
      </div>
    </div>
    <div style="flex:3; display:flex; flex-direction: row">
      <div>
        <div class='img-thumbnail' style="height: 250px; width:380px;display: flex; align-items: center; justify-content: center"
          *ngIf="_imageName" [class.deleteMetadataButton]="prefix.isMetadataDeleted(_imageName)">
          <img id="image" class="img-responsive" path="_imgPath" [style.background-image]="'url(' + _imgPath + ')'" (click)="displayMetadataModal()"
            (onMouseOverImage)="null" [contextMenuElements]="_contextMenuElements">
        </div>
        <div id="image-info" style="flex:1;display: flex; justify-content: space-between; margin-top: 2%;">
          <button type='button' class='btn btn-trash' id='deleteFile' (click)=deleteImage() [imeTooltip]="'Delete Image'">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
          <div *ngIf="_imageName"> {{_imageName}} </div>
          <div *ngIf="_imageNames">{{_imgNumber+1}}/{{_imageNames.length}}</div>
        </div>
      </div>
      <div style="flex:1;padding:2%; display:flex; flex-direction: column; align-items: flex-start; justify-content: flex-start">
        <div type='button' class='btn' (click)=deleteMetadataOfCurrentImage() [imeTooltip]="'delete Metadata'">
          <i class="fas fa-eraser"></i>
        </div>
        <div type='button' class='btn' (click)=deleteMetadataOfCurrentImageAndMove() [imeTooltip]="'Delete Metadata and move to image gallery'">
          <i class="fas fa-eraser"></i>
          <i class="fas fa-arrow-right"></i>
        </div>
        <div type='button' class='btn' style="margin-top: 35%" (click)=deleteMetadataOfALLImagesAndMoveThemToImageGallery() [imeTooltip]="'Delete Metadata of ALL IMAGES and move them to image gallery'">
          <i class="fas fa-eraser"></i>
          <i class="fas fa-reply-all" style="transform: scaleX(-1)"></i>
        </div>
      </div>
    </div>

  </div>

  <div style="flex:1;display:flex;align-items: flex-end; justify-content:flex-end">
    <div>
      <button type='button' class='btn btn-start' id='startEditingButton' style="margin-bottom:10%" (click)=startEditing()> start editing </button>
    </div>
  </div>

</div>
<showMetadata [(display)]="_displayMetadataModal"></showMetadata>
<context-menu-holder></context-menu-holder>