#image_place {
  width: 85%;
  height: 106%;
  margin-left: 5%;
  margin-bottom: 7%;
  position: absolute;
}

#image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
  display: block;
  image-orientation: from-image;
}

#deleteMetadataColumn {
  vertical-align: top;
}

#deleteMetadataButton {
  margin-top: 18%;
}

#imageCell {
  position: relative;
  width: 100%;
  height: 100%;
}

#image_name {
  margin-top: 15px;
}

#deleteFile {
  float: left;
  margin-right: 10px;
}

table {
  width: 100%;
  height: 65vh;
}

#window {
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

#buttons {
  height: 70%;
}

table tr td:first-child {
  width: 50%;
}

table tr td:nth-child(2) {
  width: 35%;
}

table tr td:nth-child(3) {
  width: 15%;
}

#startEditingButton {
  float: right;
  align-self: center;
  margin-top: 45%;
}

.startEditingColumn {
  width: 15%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#refresh {}

#next {
  font-size: 200%;
}

#previous {
  font-size: 200%;
}

#nav {
  margin-left: 70%;
  margin-top: 10%;
}

#dragAndDrop {
  width: 100%;
  height: 100%;
  display: table;
}

#dragAndDrop_outer {
  width: 42%;
  height: 30vh;
}

#dragAndDrop_text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


