<bottom-bar [title]=_bottomBar_title>
  <div id="menu">
    <div id="visibleImages_dropdown" class="dropdown menuItems">
    <!--
<div dropdown>
        <button id="visibleImages_button" class="btn" dropdownToggle>{{_visibleImage}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="li-equal-width" *ngFor="let visibleImage of _visibleImages">
            <a class="dropdown-item" (click)="select_visibleImages($event)">{{visibleImage}}</a>
          </li>
        </ul>
      </div>

    -->  
    </div>
    <button id="copyAll" class="btn menuItems" (click)="copyAll()">Copy all</button>
    <button id="deleteAll" class="btn menuItems" (click)="deleteAllCopies()">Delete all copies</button>
  </div>
  <div id="hoverbox">
    <ul class="hoverbox">
      <div *ngFor="let imgName of _imageNames_original">
        <!-- *ngIf: To add and remove the onMouseOverImage directive and the contextMenu -->
        <li *ngIf="isInImagesFolder(imgName)&&_visibleImage!==_visibleImages[2]">
          <a>
            <img src="{{_imageService.imageDir_original}}/{{imgName}}" alt="description" [class.editing]="isInEditingModus(imgName)"
              (onMouseOverImage)="onMouseOverImage($event)" [contextMenuElements]="_contextMenuElements_edited" />
            <div class="preview" [class.editing]="isInEditingModus(imgName)">
              <div>
                  <img src="{{_imageService.imageDir_original}}/{{imgName}}"  (onMouseOverImage)="onMouseOverImage($event)"
                  [contextMenuElements]="_contextMenuElements_edit" />
              </div>
            </div>
          </a>
        </li>
        <li *ngIf="isInImagesEditedFolder(imgName)&&_visibleImage!==_visibleImages[2]">
          <div id="hoverboxImagesEdited">
            <a>
              <img src="{{_imageService.imageDir_original}}/{{imgName}}" alt="description" [class.editing]="isInEditingModus(imgName)"
                (contextmenu)="$event.preventDefault()" />
              <div class="preview" [class.editing]="isInEditingModus(imgName)">
                <div>
                    <img src="{{_imageService.imageDir_original}}/{{imgName}}"  (contextmenu)="$event.preventDefault()"/>
                </div>
                
              </div>
            </a>
            <span>Image Gallery</span>
          </div>
        </li>
        <li *ngIf="!isInEditingModus(imgName)&&_visibleImage!==_visibleImages[1]">
          <a>
            <img src="{{_imageService.imageDir_original}}/{{imgName}}" alt="description" [class.editing]="isInEditingModus(imgName)"
              (onMouseOverImage)="onMouseOverImage($event)" [contextMenuElements]="_contextMenuElements" />
            <div class="preview" [class.editing]="isInEditingModus(imgName)">
              <div>
                  <img src="{{_imageService.imageDir_original}}/{{imgName}}"   (onMouseOverImage)="onMouseOverImage($event)"
                  [contextMenuElements]="_contextMenuElements" />
              </div>
            </div>
          </a>
        </li>
      </div>

    </ul>
  </div>
</bottom-bar>