<div style="display:flex; flex-direction:column;height: 100%;">
  <div id='tab-row'>
    <tabset>
      <tab *ngFor="let tabz of tabs" [heading]="tabz.title" [disabled]="tabz.disabled" [active]="tabz.active"
        (selectTab)="selectTabByTitle($event.heading)">
      </tab>
    </tabset>

    <div class="items">
      <div id='template_name' *ngIf="selectedTab!=='file'">
        {{templateName}}
      </div>
      <div id='image_place_Thumbnail' *ngIf="imgPath!=null && selectedTab!=='file'">
        <img id='image_Thumbnail' src={{imgPath}}>
      </div>
      <button id="abort_Button" class="btn" (click)="click_Abort()" *ngIf="selectedTab!=='file'"> Abort </button>
    </div>

  </div>
  <div style="position:relative; flex:1;">
    <app-all-metadata-template-tab *ngIf="selectedTab==='template'"></app-all-metadata-template-tab>
    <app-all-metadata-edit-tab *ngIf="selectedTab==='metadata'"></app-all-metadata-edit-tab>
    <app-all-metadata-categories-tab *ngIf="selectedTab==='categories'"></app-all-metadata-categories-tab>
    <app-all-metadata-further-metadata-tab *ngIf="selectedTab==='existing_metadata'"></app-all-metadata-further-metadata-tab>
    <app-all-metadata-location-tab *ngIf="selectedTab==='location'"></app-all-metadata-location-tab>
    <app-all-metadata-complete-tab *ngIf="selectedTab==='complete'"></app-all-metadata-complete-tab>
  </div>
</div>