<div style="display:flex; flex-direction:column;height: 100%;">
  <div id='tab-row'>
    <tabset>
      <tab *ngFor="let tabz of tabs" [heading]="tabz.title" [disabled]="tabz.disabled" [active]="tabz.active" (selectTab)="selectTabByTitle($event.heading)">
      </tab>
    </tabset>
    <div id='image_place_Thumbnail' *ngIf="imgPath!=null && selectedTab!=='start_template'">
      <img id='image_Thumbnail' src={{imgPath}}>
    </div>
    <button id="abort_Button" class="btn" (click)="click_Abort()" *ngIf="selectedTab!=='start_template'"> Abort </button>
  </div>
  <div style="position:relative; flex:1;">
    <app-start-template-tab *ngIf="selectedTab==='start_template'" (start)="startEditing()"></app-start-template-tab>
    <app-edit-metadata-template-tab *ngIf="selectedTab==='metadata'"></app-edit-metadata-template-tab>
    <app-categories-tab *ngIf="selectedTab==='categories'"></app-categories-tab>
    <app-existing-metadata-template-tab *ngIf="selectedTab==='existing_metadata'"></app-existing-metadata-template-tab>
    <location-tab *ngIf="selectedTab==='location'"></location-tab>
    <app-complete-template-tab *ngIf="selectedTab==='complete_template'"></app-complete-template-tab>
  </div>
</div>
