#button {
  background-color: white;
  display: flex;
}

#show {
  border-top: thick dotted #cfd8dc;
  width: fit-content;
  flex: 1;
  text-align: center;
}

.sideBox {
  border-top: thin solid #cfd8dc;
  flex: 3;
}

#originalImageBar {
  width: 100%;
  min-height: 0em;
  background-color: blueviolet;
  transition: all 0.2s linear;
}

.originalImageBarChange {
  min-height: 100vh!important;
}
