<bottom-bar [title]=_bottomBar_title>

  <div id="hoverbox">
    <ul class="hoverbox">
      <div *ngFor="let imgName of _imageNames_complete">
        <li>
        <div id="imageBox">
          <a>
            <img src="{{_imageService.imageDir_complete}}/{{imgName}}" alt="description" 
              (contextmenu)="$event.preventDefault()" />
            <img src="{{_imageService.imageDir_complete}}/{{imgName}}" class="preview"  (contextmenu)="$event.preventDefault()"
            />
          </a>
          <span>{{imgName}}</span>
        </div>
        </li>
      </div>
    </ul>
  </div>
</bottom-bar>
