
#imageBox {
  display: inline-grid;
  background-color: blueviolet;
}
.preview_imgName{
  display: none;
  position: absolute;
  top: calc(150px - 33px);
  min-width: 200px;
  left: -45px;
  text-align: center;
  z-index: 10;
  background-color: blueviolet;
  color: white;
}
a:hover .preview_imgName{
  display: block;
}
#hoverbox ul{
  position: absolute;
  height: 100%;
}