/* You can add global styles to this file, and also import other style files */
@import "../node_modules/leaflet/dist/leaflet.css";
@import '../node_modules/material-design-icons/iconfont/material-icons.css';
body {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  
}
html::-webkit-scrollbar {
  display: none;
} 

app {
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* bootstrap timepicker */
.app-label-disabled .form-control{
  color: #ddd;
}
/*angular material tree*/
mat-checkbox label {
  display: inline-flex;
  max-width: unset;
  margin-bottom: unset;
  font-weight: 400;
}
/* Angular material tree checkbox */
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: #4863A0;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: #4863A0;
}
.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-disabled.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #b0b0b0;
}

/* Angular material radio button */
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:  #4863A0;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: #4863A0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
