/* You can add global styles to this file, and also import other style files */
@import "../node_modules/leaflet/dist/leaflet.css";

body {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  
}
html::-webkit-scrollbar {
  display: none;
} 

app {
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* bootstrap timepicker */
.app-label-disabled .form-control{
  color: #ddd;
}
